<!DOCTYPE html>
<html>
<head>
    <title>Choose Files</title>
</head>
<body>
    <h1>Step 2 - Load file 1 - New Items</h1>
    {% if not data_html1 %}
        <h3>Load the file with the new PBS Items</h3>
        <form method="POST" enctype="multipart/form-data">
            <label for="file1">3.1 Navigate to 'PBS Items.xlsx</label>
            <input type="file" name="file1" id="file1">
            <input type="submit" value="Load">
        </form>
    {% endif %}
    {% if data_html1 %}
    <a href="/3choosefile2"><button>Next</button></a>
        <h2>New PBS Items Loaded (See below) - Click Next (above) </h2>
        <div>{{ data_html1 | safe }}</div>
    {% endif %}
</body>
</html>

