<!DOCTYPE html>
<html>
<head>
    <title>Generate Update Code</title>
    <style>
        pre {
            background-color: black;
            color: white;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Generate Update Code</h1>
    <form action="/generatecode" method="post">
        <button id="generateButton" type="submit">GENERATE</button>
    </form>
    <p>Click 'GENERATE', then code you will see below will automatically be copied to your clipboard, you can paste it</p>
    <!-- pre formatted  text-->
    <pre>{{ output }}</pre>
</body>
</html>