<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <style>
        @keyframes flash {
            0% {opacity: 1;}
            50% {opacity: 0.5;}
            100% {opacity: 1;}
        }
        .flashing {
            animation: flash 1s linear infinite;
            color: green; /* change color as needed */
        }
    </style>
    <script>
        // Copy to Clipboard
        function copyToClipboard(url) {
            fetch(url)
                .then(response => response.text())
                .then(text => {
                    var tempInput = document.createElement("textarea");
                    tempInput.value = text;
                    document.body.appendChild(tempInput);
                    tempInput.select();
                    document.execCommand("copy");
                    document.body.removeChild(tempInput);
                    alert("Text copied to clipboard");
                });
        }

        // Stop Flashing
        function stopFlashing(inputId, labelId) {
            document.getElementById(inputId).addEventListener('change', function() {
                document.getElementById(labelId).classList.remove('flashing');
            });
        }
    </script>
</head>
<body>
    <h1>The PBS Mapping Tool</h1>
    <h2>Run the CCL scripts and save the output</h2>
    <h3>1. Click the button below to copy the code, cntl-v in DVDev and run the script</h3>
    <button onclick="copyToClipboard('https://raw.githubusercontent.com/neoversionsix/custom-ccl-jobs/main/PBS/PBS%20New%20Items%20to%20Map.ccl')">
        Copy PBS Items to Map CCL Script
    </button>
    <p>Save the PBS Items to a xlsx spreadsheet called 'PBS Items' to load in later</p>
    <br>
    <h3>2. Click the button below to copy the code, cntl-v in DVDev and run the script</h3>
    <button onclick="copyToClipboard('https://raw.githubusercontent.com/neoversionsix/custom-ccl-jobs/main/PBS/PBS%20Possible%20Items%20to%20Map%20to%20(All%20types).ccl')">
        Copy Pharmacy Catalog CCL Script
        </button>
        <p>Save the Pharmacy Catalog to a xlsx spreadsheet called 'Pharmacy Catalog' to load in later. Now do the same for the Pharmacy Catalog (below)</p>
        <a href="/2choosefile1"><button>Next</button></a>
    <h3>NOTES ON USE: </h3>
    <ul>
        <li>Single click buttons in this app (double clicking might cause issues)</li>
        <li>At the End, after the update code is stored in your clipboard you can simply cose the window to shut down the app</li>
        <li>Care has been taken to have the desired functionality, but can't be guaranteed, so look over the final update code</li>
    </ul>
    <br><br>
    <p>Programmer: Jason Whittle (neoversionsix on github)
    <br>Licence: MIT
    <br>Use the source code as you wish. Free to use and copy and everything else
    <br>Version: 1.0
    <br>Created: 2024
    </p>
    </body>
    </html>
